@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login de Usuário</title>
    <!-- folhas de estilo CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/toastr.min.css" />
</head>
<body class="bg-secondary">
    <div class="mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            
                            <h5 class="card-title">Acesso ao Sistema</h5>
                            <p>Informe seus dados de acesso</p>
                        </div>
                        <hr />
                        @if (TempData["MensagemErro"] != null)
                        {
                            <div class="alert alert-danger
alert-dismissible fade show" role="alert">
                                <strong>Erro!</strong>
                                @TempData["MensagemErro"]
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="alert" arialabel="Close"></button>
                            </div>
                        }
                        <form id="form-login-usuario" action="@Url.Action("Login","Account")" class="pt-3" method="post">
                            <input type="hidden" name="contadorErros" id="hdContadorErros" value="@ViewBag.cont" />
                            <label for="txtLogin">Email de acesso:</label>
                            <input id="txtLogin" type="text" class="form-control" name="email" />
                            <span>

                            </span>
                            <br />
                            <label id="txtSenha">Senha de acesso:</label>
                            <input type="password" class="form-control" name="senha" id="txtSenha" />
                            <span>

                            </span>
                            <br />
                            <div class="d-grid mb-2">
                                <input type="submit" value="Acessar Conta"
                                       class="btn btn-dark" />
                            </div>
                            <div class="d-grid mb-2">
                                <a href="@Url.Action("CadastroUsuario","Account")" class="btn btnlight">Criar Conta de Usuário</a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- arquivos de estensão JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/Usuario.js"></script>
</body>
</html>